/* FLIGHT DECK */
#flight-deck {
    flex: 1;
    background: #020204;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    background: #000;
    max-width: 100%;
    max-height: 100%;
}

/* Start Screen Wrapper */
#overlay.start-screen-wrapper {
    position: absolute;
    inset: 0;
    z-index: 500;
}

/* ALERTS */
.danger-alert {
    animation: flash-red 0.5s infinite alternate;
}

@keyframes flash-red {
    from { border-color: rgba(255, 62, 62, 0.2); }
    to { border-color: var(--alert-red); background: rgba(255, 62, 62, 0.1); }
}

@media (orientation: portrait) {
    #game-wrapper { display: none; }
    #orientation-overlay { display: flex !important; }
}

#orientation-overlay {
    position: fixed;
    inset: 0;
    background: #000;
    z-index: 1000;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
